<!-- <ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div>
        <ion-tabs color="light">
            <ion-tab-bar slot="top" color="medium">
                <ion-tab-button tab="chat">
                    <ion-icon name="send"></ion-icon>
                    <ion-label>chats</ion-label>
                    <ion-badge>6</ion-badge>
                </ion-tab-button>

                <ion-tab-button tab="profile">
                    <ion-icon md="md-person"></ion-icon>
                    <ion-label>profile</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="users">
                    <ion-icon ios="ios-people" md="md-people"></ion-icon>
                    <ion-label>active users</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </div>
</ion-content>