<ion-header>
    <ion-toolbar color="medium">
        <ion-title>
            {{items.displayName}}
            <ion-icon name="arrow-back" float-right (click)="onBack()"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <!-- <div padding text-center>
                <img src="{{photoURL}}">
                <input type="file" (change)="upload($event)" />
            </div> -->



    <div class="items" *ngFor="let items of chat | async ">
        <div class="me" *ngIf="uid == items.UserID && items.sendto == singleUser">
            ME: {{items.Message}}
            <img src="{{items.photoURL}}">
        </div>

        <div class="you" *ngIf="items.sendto == uid &&  items.UserID == singleUser">

            YOU: {{items.Message}}
            <img src="{{items.photoURL}}">
        </div>
    </div>


</ion-content>

<ion-footer color="light">

    <ion-item color="light">
        <!-- <ion-button color="none" (click)="presentActionSheet()">
            <ion-icon name="camera" ></ion-icon>
        </ion-button> -->

        <div class="image-upload" float-right>
            <label for="file-input" (change)="upload($event)">
                    <ion-icon name="attach"> </ion-icon>
              </label>
        </div>
        <div class="image-upload" float-right>
            <label for="file-input">
                <ion-icon class="input" name="attach"> </ion-icon>
            <input id="file-input" class="input" type="file" (change)="upload($event)" />
           </label>
        </div>
        <ion-input placeholder="Type....." [(ngModel)]="textTO"></ion-input>
        <ion-buttons>
            <ion-button (click)="Send()" fill="clear" icon-only slot="end">
                <ion-icon name="send">
                </ion-icon>
            </ion-button>
            <ion-button (click)="presentActionSheet()">
                <ion-icon name="camera"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

</ion-footer>