<ion-header>
    <ion-toolbar color="medium">
        <ion-title>
            {{items.displayName}}
            <ion-icon name="arrow-back" float-right (click)="onBack()"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <!-- <div padding text-center>
                <img src="{{photoURL}}">
                <input type="file" (change)="upload($event)" />
            </div> -->



    <div class="items" *ngFor="let items of chat | async ">
        <div class="me" *ngIf="uid == items.UserID && items.sendto == singleUser">
            ME: {{items.Message}}
            <img src="{{items.photoURL}}">
        </div>

        <div class="you" *ngIf="items.sendto == uid &&  items.UserID == singleUser">

            YOU: {{items.Message}}
            <img src="{{items.photoURL}}">
        </div>
    </div>


</ion-content>

<ion-footer color="light">

    <ion-item color="light">
        <ion-button color="none" (click)="presentActionSheet()">
            <ion-icon name="attach"></ion-icon>
        </ion-button>

        <ion-input placeholder="Type....." [(ngModel)]="textTO"></ion-input>
        <ion-button (click)="Send()" fill="clear" icon-only slot="end">
            <ion-icon name="send">
            </ion-icon>
        </ion-button>
    </ion-item>

</ion-footer>