<ion-header>
    <!-- <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content color="light">

    <!-- <ion-item>
        <ion-icon name="arrow-back" (click)="onBack()"></ion-icon>
    </ion-item> -->

    <div padding text-center>
        <img src="{{photoURL}}">
        <!-- <input type="file" (change)="upload($event)" /> -->
    </div>

    <div>
        <div class="login-html">
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"><h6> Upload Image</h6></label>
            <div class="login-form">

                <div class="sign-up-htm">
                    <div padding text-center>
                        <input type="file" (change)="upload($event)" />
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"><h6>done </h6> </label>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <ion-item color="light">
        <ion-label>Username:</ion-label>
        {{userList?.displayName}}
    </ion-item>
    <ion-item color="light">
        <ion-label>Email:</ion-label>
        {{userList?.Email}}
    </ion-item>
    <ion-item color="light">
        <ion-label>Gender:</ion-label>
        {{userList?.Gender}}
    </ion-item>

    <ion-button fill="solid" expand="block" color="dark" (click)="onEdit(userList)">Update user!</ion-button>
    <p><b>OR</b></p>
    <ion-button fill="outline" expand="block" (click)="logout()">Logout!</ion-button>

</ion-content>