<ion-header>
    <!-- <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

    <!-- <ion-item>
        <ion-icon name="arrow-back" (click)="onBack()"></ion-icon>
    </ion-item> -->

    <ion-item>
        <ion-label>Username:</ion-label>
        {{userList?.displayName}}
    </ion-item>
    <ion-item>
        <ion-label>Email:</ion-label>
        {{userList?.Email}}
    </ion-item>
    <ion-item>
        <ion-label>Gender:</ion-label>
        {{userList?.Gender}}
    </ion-item>

    <ion-button fill="solid" expand="block" color="dark" (click)="onEdit(userList)">Update user!</ion-button>

</ion-content>