<ion-header>
    <!-- <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content color="light">

    <!-- <ion-item>
        <ion-icon name="arrow-back" (click)="onBack()"></ion-icon>
    </ion-item> -->

    <div padding text-center>
        <img src="{{photoURL}}">
        <input type="file" (change)="upload($event)" />
    </div>

    <ion-item color="light">
        <ion-label>Username:</ion-label>
        {{userList?.displayName}}
    </ion-item>
    <ion-item color="light">
        <ion-label>Email:</ion-label>
        {{userList?.Email}}
    </ion-item>
    <ion-item color="light">
        <ion-label>Gender:</ion-label>
        {{userList?.Gender}}
    </ion-item>

    <ion-button fill="solid" expand="block" color="dark" (click)="onEdit(userList)">Update user!</ion-button>
    <p><b>OR</b></p>
    <ion-button fill="outline" expand="block" (click)="logout()">Logout!</ion-button>

</ion-content>